PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/frota_portaria
CORS_ORIGIN=*
JWT_ACCESS_SECRET=troque_esta_chave_access
JWT_REFRESH_SECRET=troque_esta_chave_refresh
JWT_ACCESS_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d
